body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.form-group {
  text-align: right;
  display: ;
  margin: auto auto 0 100px;
  font-size: 25px;
}

.btn-success {
  margin-left: 25%;
}


.btn-danger {
  position: relative;

}

/*.form-control {

}*/
