body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #009999; /* Sanity Check! */
  margin-bottom: 50px;
  margin-top: 50px;
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.form-group {
  text-align: right;
  display: ;
  margin: auto 400px 0 0;
  font-size: 25px;
}

#prof {
  display: block;
}

.btn-success {
  margin-left: 165px;
}


.btn-danger {
  position: relative;

}

#me {
  max-height: 20px;
}


/*.form-control {

}*/
